---
import ArrowUpIcon from "../icons/ArrowUpIcon.astro";
---

<button id="scroll-to-top" aria-label="Volver al inicio de la página">
  <script is:inline>
    if (document.body.scrollTop || document.documentElement.scrollTop > 20)
      document.currentScript.parentElement.classList.add("show");
  </script>
  <ArrowUpIcon />
</button>

<script>
  let timeout = 0; // Identificador para clearTimeout
  const $button = document.getElementById("scroll-to-top");

  // Función para mostrar u ocultar el botón
  function toggleScrollToTop() {
    const scrollTop =
      document.body.scrollTop || document.documentElement.scrollTop;

    $button.classList.toggle("show", scrollTop > 20);
  }

  function throttledScrollHandler() {
    if (!timeout) {
      timeout = requestAnimationFrame(() => {
        toggleScrollToTop();
        timeout = 0;
      });
    }
  }

  window.addEventListener("scroll", throttledScrollHandler);

  $button.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
</script>

<style>
  #scroll-to-top {
    display: none;
    opacity: 0;
    position: fixed;
    bottom: -42px;
    right: 0.5rem;
    border: 1px solid var(--text-color-primary);
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: var(--color-primary);
    cursor: pointer;
    transition:
      scale 0.3s,
      display 0.3s,
      opacity 0.3s,
      bottom 0.3s;
    transition-behavior: allow-discrete;

    &.show {
      display: block;
      opacity: 1;
      bottom: 0.5rem;

      @starting-style {
        opacity: 0;
        bottom: -42px;
      }
    }

    &:is(:hover, :focus-visible) {
      scale: 1.05;
    }
  }
</style>
