---
import SendIcon from "../icons/SendIcon.astro";
---

<section id="contact-me">
  <div>
    <h2>Contáctame</h2>
    <form
      action=`https://formspree.io/f/${import.meta.env.PUBLIC_FORMSPREE_API}`
      method="post"
      class="shadow-lg shadow-black"
    >
      <label
        >Nombre completo<abbr title="Campo obligatorio">*</abbr>
        <input type="text" name="name" required />
      </label>
      <label
        >Correo electrónico<abbr title="Campo obligatorio">*</abbr>
        <input type="email" name="email" required />
      </label>
      <label
        >Mensaje<abbr title="Campo obligatorio">*</abbr>
        <textarea name="message" id="message" required></textarea>
      </label>
      <button type="submit"><SendIcon /> Enviar</button>
    </form>
  </div>
</section>

<!-- <script>
  const $form = document.querySelector("form");

  async function handleSubmit(e) {
    e.preventDefault();
    const data = new FormData(e.target);
    fetch(`https://formspree.io/f/${import.meta.env.PUBLIC_FORMSPREE_API}`, {
      method: "POST",
      body: data,
      headers: {
        "Content-Type": "application/x-www-form-urlencoded",
      },
    })
      .then((response) => {
        if (response.ok) {
          alert("Gracias por tu mensaje!");
          $form?.reset();
        } else {
          response.json().then((data) => {
            if (Object.hasOwn(data, "errors")) {
              console.log(data.errors.map((error) => error.message).join(", "));
            } else {
              console.log("Oops! There was a problem submitting your form");
            }
          });
        }
      })
      .catch((error) => {
        console.log("Oops! There was a problem submitting your form");
      });
  }

  $form?.addEventListener("submit", handleSubmit);
</script> -->

<style>
  section {
    padding-block: 4rem;
  }

  h2 {
    width: fit-content;
    font-weight: 900;
    font-size: 2rem;
    background-image: linear-gradient(
      to right,
      var(--color-primary),
      var(--text-color-primary)
    );
    color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 2rem;
  }

  form {
    --text-color-primary: rgb(248 250 252);
    --text-color-secondary: rgb(203 213 225);

    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 3rem 1rem;
    border-radius: 0.25rem;
    background-image: linear-gradient(
      to bottom right,
      black,
      var(--color-secondary),
      black
    );
  }

  label {
    color: var(--text-color-primary);
  }

  input,
  textarea {
    --input-text-color: rgb(2 6 23);

    width: 100%;
    padding: 0.5rem 0.5rem;
    border: 2px solid var(--color-secondary);
    border-radius: 0.25rem;
    background-color: var(--text-color-secondary);
    color: var(--input-text-color);
    text-overflow: ellipsis;
    transition: 0.3s;

    &:hover {
      border-color: var(--color-primary);
      background-color: var(--text-color-primary);
    }

    &:focus {
      border-color: var(--color-primary);
      background-color: var(--text-color-primary);
    }
  }

  textarea {
    resize: none;
    min-height: 150px;
  }

  abbr[title] {
    text-decoration: none;
    color: #e57373;
  }

  button {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    align-self: center;
    padding: 0.5rem 2rem;
    border: 1px solid var(--text-color-primary);
    border-radius: 0.25rem;
    background-color: var(--color-secondary);
    color: var(--text-color-primary);
    transition:
      background-color 0.3s,
      scale 0.3s,
      translate 0s;

    &:hover {
      background-color: var(--color-primary);
      scale: 1.05;
    }

    &:focus-visible {
      background-color: var(--color-primary);
      scale: 1.05;
    }

    &:active {
      translate: 0 0.125rem;
    }
  }
</style>
