---
import GitHubIcon from "../icons/GitHubIcon.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import EmailIcon from "../icons/EmailIcon.astro";
import DownloadIcon from "../icons/DownloadIcon.astro";
import CloseIcon from "../icons/CloseIcon.astro";
import FileIcon from "../icons/FileIcon.astro";
import MyImage from "./MyImage.astro";
import ExternalLinkIcon from "../icons/ExternalLinkIcon.astro";
---

<section class="intro">
  <div class="data">
    <h1 class="name">Hola! Soy Adán Rodríguez</h1>
    <h2 class="label">Desarrollador Web</h2>
    <div class="about-me">
      <p>
        Me llamo Adan Rodriguez, soy de Argentina
        <img
          src="images/bandera-argentina.webp"
          alt="Bandera de Argentina"
          aria-hidden="true"
          class="argentina-flag"
        />
        y tengo 28 años.
      </p>
      <p>
        Me especializo en <span>React</span>, <span>Next.js</span> y <span
          >Astro</span
        >.
      </p>
      <p>
        Se destacan entre mis trabajos el portal de noticias <span
          translate="no">"El Villanense"</span
        >, el sitio de la <span>Liga Ocampense de Fútbol</span> y la página oficial
        de la <span>Comuna de Villa Ana</span>, lugar donde vivo.
      </p>
      <p>
        Soy estudiante de una <span>Tecnicatura en Desarrollo Web</span> en la Universidad
        Nacional de Entre Ríos, Argentina.
      </p>
    </div>
    <ul>
      <li class="email-item">
        <button
          class="copy-email-btn"
          title="Copiar email"
          aria-label="Copiar email"
          ><EmailIcon /><span>adan.rodriguez.fusta@gmail.com</span>
          <svg
            width="16"
            height="16"
            viewBox="0 0 32 32"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            class="copy-icon"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M9.38896 4.16022C6.50272 4.16022 4.16016 6.50272 4.16016 9.38902V14.8927C4.16016 17.7789 6.50265 20.1215 9.38896 20.1215V18.4702C7.41145 18.4702 5.81136 16.8702 5.81136 14.8926V9.38896C5.81136 7.41145 7.41136 5.81136 9.38896 5.81136H14.8926C16.8701 5.81136 18.4702 7.41136 18.4702 9.38896H20.1215C20.1215 6.50272 17.779 4.16016 14.8927 4.16016L9.38896 4.16022ZM17.1016 11.8729C14.2154 11.8729 11.8728 14.2154 11.8728 17.1017V22.6053C11.8728 25.4916 14.2153 27.8341 17.1016 27.8341H22.6053C25.4915 27.8341 27.8341 25.4916 27.8341 22.6053V17.1017C27.8341 14.2154 25.4916 11.8729 22.6053 11.8729H17.1016ZM13.524 17.1017C13.524 15.1242 15.124 13.5241 17.1016 13.5241H22.6053C24.5828 13.5241 26.1829 15.1241 26.1829 17.1017V22.6053C26.1829 24.5828 24.5829 26.1829 22.6053 26.1829H17.1016C15.1241 26.1829 13.524 24.5829 13.524 22.6053V17.1017Z"
            ></path>
          </svg></button
        >
        <div class="email-copied-notification" popover="manual">
          Email copiado
        </div>
        <a
          href="mailto:adan.rodriguez.fusta@gmail.com"
          aria-label="Envía un correo a Adán Rodríguez"
          rel="noopener"
          ><EmailIcon /><span>adan.rodriguez.fusta@gmail.com</span
          ><ExternalLinkIcon size="14" /></a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/adan-gabriel-rodriguez"
          target="_blank"
          rel="noopener"
          class="linkedin-link"
          ><LinkedinIcon /><span>LinkedIn</span><ExternalLinkIcon
            size="14"
          /></a
        >
      </li>
      <li>
        <a
          href="https://github.com/adan-rodriguez"
          target="_blank"
          rel="noopener"
          class="github-link"
          ><GitHubIcon width="24" height="24" /><span>GitHub</span
          ><ExternalLinkIcon size="14" /></a
        >
      </li>
      <li>
        <button
          id="open-cv"
          aria-label="Ver currículum de Adán Rodríguez en una modal"
          ><FileIcon /><span>Currículum</span><ExternalLinkIcon
            size="14"
          /></button
        >
        <a
          id="cv-link"
          href="/docs/curriculum-vitae-adan-rodriguez.pdf"
          target="_blank"
          aria-label="Ver currículum de Adán Rodríguez en una pestaña nueva (PDF)"
          ><FileIcon /><span>Currículum</span><ExternalLinkIcon size="14" /></a
        >
      </li>
    </ul>
    <dialog id="modal-cv">
      <button id="close-cv" aria-label="Cerrar modal">
        <CloseIcon />
      </button>
      <a
        id="download-cv"
        download="Currículum Vitae - Adán Rodríguez"
        href="/docs/curriculum-vitae-adan-rodriguez.pdf"
        title="Descargar currículum (PDF)"
        aria-label="Descargar currículum (PDF)"><DownloadIcon /></a
      >
      <object
        data="/docs/curriculum-vitae-adan-rodriguez.pdf"
        type="application/pdf"
      >
        <img
          src="/images/curriculum-vitae-adan-rodriguez.avif"
          alt="Currículum vitae de Adan Rodriguez"
          loading="lazy"
        />
        <!-- <p>
          No tienes un plugin de PDF para visualizar el currículum, pero puedes
          <a
            download="Currículum Vitae - Adán Rodríguez"
            href="/docs/curriculum-vitae-adan-rodriguez.pdf"
            title="Descargar currículum (PDF)"
            aria-label="Descargar currículum (PDF)"
            >descargarlo <DownloadIcon />
          </a>
        </p> -->
      </object>
    </dialog>
  </div>
  <MyImage />
</section>

<script>
  const cvBtn = document.querySelector("#open-cv");
  const cvModal = document.querySelector("#modal-cv");
  const closeBtn = cvModal.querySelector("#close-cv");

  function showCv() {
    cvModal.showModal();
  }

  function hideCv() {
    cvModal.close();
  }

  function closeModal(e) {
    if (e.target.matches("#modal-cv")) hideCv();
  }

  cvBtn.addEventListener("click", showCv);
  closeBtn.addEventListener("click", hideCv);
  cvModal.addEventListener("click", closeModal);
</script>

<script>
  const $copyEmailBtn = document.querySelector(".copy-email-btn");
  const $emailCopiedNotification = document.querySelector(
    ".email-copied-notification"
  );

  function copyEmail() {
    navigator.clipboard
      .writeText("adan.rodriguez.fusta@gmail.com")
      .then(() => {
        console.log("¡Email copiado al portapapeles!");
        $emailCopiedNotification.showPopover();
        setTimeout(() => {
          $emailCopiedNotification.hidePopover();
        }, 3000);
      })
      .catch((err) => {
        console.error("Error al copiar el email: ", err);
      });
  }

  $copyEmailBtn.addEventListener("click", copyEmail);
</script>

<style>
  .email-copied-notification {
    padding: 8px 50px;
    margin: 0;
    inset: unset;
    left: 1rem;
    bottom: -37px;
    opacity: 0;
    background-image: linear-gradient(
      to bottom right,
      black,
      var(--color-primary),
      black
    );
    color: white;
    border-left: 5px solid gold;
    font-size: 14px;
    font-weight: bold;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: var(--shadow-black-lg);
    transition:
      display 0.3s,
      opacity 0.3s,
      bottom 0.3s;
    transition-behavior: allow-discrete;

    &:popover-open {
      opacity: 1;
      bottom: 0.5rem;

      @starting-style {
        opacity: 0;
        bottom: -37px;
      }
    }
  }

  .email-item:has(:popover-open) {
    .copy-email-btn {
      background-image: linear-gradient(
        to bottom right,
        black,
        rgb(0 128 0 / 30%),
        black
      );
      pointer-events: none;
      color: color-mix(in srgb, green, gray 30%);
      scale: 1.05;
    }

    .copy-icon {
    }
  }

  #modal-cv {
    scrollbar-width: thin;
    opacity: 0;
    transition:
      display 0.15s,
      opacity 0.15s,
      overlay 0.15s;
    transition-behavior: allow-discrete;
    color: var(--text-color-primary);
    width: 80%;
    max-width: 768px;

    &[open] {
      opacity: 1;

      @starting-style {
        opacity: 0;
      }
    }

    &::backdrop {
      backdrop-filter: blur(16px);
    }

    object {
      width: 100%;
      min-height: calc(100dvh - 2em - 6px);
      display: grid;
      place-content: center;
      background-image: linear-gradient(
        to bottom right,
        black,
        var(--color-primary),
        black
      );

      img {
        width: 100%;
      }

      /* p {
        margin: 0.5rem;
        padding: 0.5rem;
        background-image: linear-gradient(
          to bottom right,
          black,
          var(--color-primary),
          black
        );
        border-left: 5px solid gold;
        font-size: 14px;
        font-weight: bold;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        box-shadow: var(--shadow-black-lg);

        a {
          color: gold;

          &:is(:hover, :focus-visible) {
            opacity: 0.8;
          }
        }
      } */
    }

    #close-cv {
      position: fixed;
      right: 0;
      top: 19px;
      padding: 0.5rem;
      border-radius: 0.5rem;
      transition: background-color 0.3s;

      &:is(:hover, :focus-visible) {
        background-color: rgb(var(--color-primary-rgb) / 70%);
      }

      @media (width >= 640px) {
        right: 1rem;
      }
    }

    #download-cv {
      position: fixed;
      right: 0;
      top: 59px;
      padding: 0.5rem;
      border-radius: 0.5rem;
      transition: background-color 0.3s;

      &:is(:hover, :focus-visible) {
        background-color: rgb(var(--color-primary-rgb) / 70%);
      }

      @media (width >= 640px) {
        right: 1rem;
      }
    }
  }
</style>
