---
import GitHubIcon from "../icons/GitHubIcon.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import EmailIcon from "../icons/EmailIcon.astro";
import DownloadIcon from "../icons/DownloadIcon.astro";
import CloseIcon from "../icons/CloseIcon.astro";
import FileIcon from "../icons/FileIcon.astro";
import MyImage from "./MyImage.astro";
import ExternalLinkIcon from "../icons/ExternalLinkIcon.astro";
---

<section class="intro">
  <div class="data">
    <h1 class="name">Hola! Soy Adán Rodríguez</h1>
    <h2 class="label">Desarrollador Web</h2>
    <div class="about-me">
      <p>
        Me llamo Adán Rodríguez, soy de Argentina
        <img
          src="images/bandera-argentina.webp"
          alt="Bandera de Argentina"
          aria-hidden="true"
          class="argentina-flag"
        />
        y tengo 28 años.
      </p>
      <p>
        Me especializo en <span>React</span>, <span>Next.js</span> y <span
          >Astro</span
        >.
      </p>
      <p>
        Se destacan entre mis trabajos el portal de noticias <span
          >"El Villanense"</span
        >, el sitio de la <span>Liga Ocampense de Fútbol</span> y la página oficial
        de la <span>Comuna de Villa Ana</span>, lugar donde vivo.
      </p>
      <p>
        Soy estudiante de una <span>Tecnicatura en Desarrollo Web</span> en la Universidad
        Nacional de Entre Ríos, Argentina.
      </p>
    </div>
    <ul>
      <li>
        <a
          href="mailto:adan.rodriguez.fusta@gmail.com"
          aria-label="Envía un correo a Adán Rodríguez"
          rel="noopener"
          ><EmailIcon /><span>adan.rodriguez.fusta@gmail.com</span></a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/adan-gabriel-rodriguez"
          target="_blank"
          rel="noopener"
          class="linkedin-link"
          ><LinkedinIcon /><span>LinkedIn</span><ExternalLinkIcon
            size="14"
          /></a
        >
      </li>
      <li>
        <a
          href="https://github.com/adan-rodriguez"
          target="_blank"
          rel="noopener"
          class="github-link"
          ><GitHubIcon width="24" height="24" /><span>GitHub</span
          ><ExternalLinkIcon size="14" /></a
        >
      </li>
      <li>
        <button
          id="open-cv"
          aria-label="Ver currículum de Adán Rodríguez en una modal"
          ><FileIcon /><span>Currículum</span></button
        >
        <a
          id="cv-link"
          href="/docs/curriculum-vitae-adan-rodriguez.pdf"
          target="_blank"
          aria-label="Ver currículum de Adán Rodríguez en una pestaña nueva (PDF)"
          ><FileIcon /><span>Currículum</span><ExternalLinkIcon size="14" /></a
        >
      </li>
    </ul>
    <dialog id="modal-cv">
      <button id="close-cv" aria-label="Cerrar modal">
        <CloseIcon />
      </button>
      <a
        download="Currículum Vitae - Adán Rodríguez"
        href="/docs/curriculum-vitae-adan-rodriguez.pdf"
        aria-label="Descargar currículum (PDF)"><DownloadIcon /></a
      >
      <img
        src="/images/curriculum.avif"
        alt="Currículum vitae de Adán Rodríguez"
        loading="lazy"
      />
    </dialog>
  </div>
  <MyImage />
</section>

<script>
  const cvBtn = document.querySelector("#open-cv");
  const cvModal = document.querySelector("#modal-cv");
  const closeBtn = cvModal.querySelector("#close-cv");

  function showCv() {
    cvModal.showModal();
  }

  function hideCv() {
    cvModal.close();
  }

  function closeModal(e) {
    if (e.target.matches("#modal-cv")) hideCv();
  }

  cvBtn.addEventListener("click", showCv);
  closeBtn.addEventListener("click", hideCv);
  cvModal.addEventListener("click", closeModal);
</script>
