---
import GitHubIcon from "../icons/GitHubIcon.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import EmailIcon from "../icons/EmailIcon.astro";
import DownloadIcon from "../icons/DownloadIcon.astro";
import CloseIcon from "../icons/CloseIcon.astro";
import FileIcon from "../icons/FileIcon.astro";
import MyImage from "./MyImage.astro";
import ExternalLinkIcon from "../icons/ExternalLinkIcon.astro";
---

<section class="intro">
  <div class="data">
    <h1 class="name">Hola! Soy Adán Rodríguez</h1>
    <h2 class="label">Desarrollador Web</h2>
    <div class="about-me">
      <p>
        Me llamo Adan Rodriguez, soy de Argentina
        <img
          src="images/bandera-argentina.webp"
          alt="Bandera de Argentina"
          aria-hidden="true"
          class="argentina-flag"
        />
        y tengo 29 años.
      </p>
      <p>
        Me especializo en <span>React</span>, <span>Next.js</span> y <span
          >Astro</span
        >.
      </p>
      <p>
        Se destacan entre mis trabajos el portal de noticias <span
          translate="no">"El Villanense"</span
        >, el sitio de la <span>Liga Ocampense de Fútbol</span> y la página oficial
        de la <span>Comuna de Villa Ana</span>, lugar donde vivo.
      </p>
      <p>
        Soy estudiante de una <span>Tecnicatura en Desarrollo Web</span> en la Universidad
        Nacional de Entre Ríos, Argentina.
      </p>
    </div>
    <ul>
      <li class="email-item">
        <button
          class="copy-email-btn"
          title="Copiar email"
          aria-label="Copiar email"
          ><EmailIcon /><span>adan.rodriguez.fusta@gmail.com</span>
          <svg
            width="16"
            height="16"
            viewBox="0 0 32 32"
            aria-hidden="true"
            class="copy-icon"
          >
            <use href="/images/icons.svg#copy-icon"></use>
          </svg>
        </button>
        <div class="email-copied-notification" popover="manual">
          Email copiado
        </div>
        <a
          href="mailto:adan.rodriguez.fusta@gmail.com"
          aria-label="Envía un correo a Adán Rodríguez"
          rel="noopener"
          ><EmailIcon /><span>adan.rodriguez.fusta@gmail.com</span
          ><ExternalLinkIcon size="14" /></a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/adan-gabriel-rodriguez"
          target="_blank"
          rel="noopener"
          class="linkedin-link"
          ><LinkedinIcon /><span>LinkedIn</span><ExternalLinkIcon
            size="14"
          /></a
        >
      </li>
      <li>
        <a
          href="https://github.com/adan-rodriguez"
          target="_blank"
          rel="noopener"
          class="github-link"
          ><GitHubIcon width="24" height="24" /><span>GitHub</span
          ><ExternalLinkIcon size="14" /></a
        >
      </li>
      <li>
        <button
          id="cv-modal-open-btn"
          aria-label="Ver currículum de Adán Rodríguez en una modal"
          ><FileIcon /><span>Currículum</span><ExternalLinkIcon
            size="14"
          /></button
        >
        <a
          id="cv-link"
          href="/docs/curriculum-vitae-adan-rodriguez.pdf"
          target="_blank"
          aria-label="Ver currículum de Adán Rodríguez en una pestaña nueva (PDF)"
          ><FileIcon /><span>Currículum</span><ExternalLinkIcon size="14" /></a
        >
      </li>
    </ul>
    <!-- <dialog id="cv-modal" closedby="any"> descomentar y quitar el event listener en la modal cuando tenga soporte -->
    <dialog id="cv-modal">
      <form method="dialog">
        <button id="close-cv" aria-label="Cerrar modal">
          <CloseIcon />
        </button>
      </form>
      <a
        id="download-cv"
        download="Currículum Vitae - Adán Rodríguez"
        href="/docs/curriculum-vitae-adan-rodriguez.pdf"
        title="Descargar currículum (PDF)"
        aria-label="Descargar currículum (PDF)"><DownloadIcon /></a
      >
      <object
        data="/docs/curriculum-vitae-adan-rodriguez.pdf"
        type="application/pdf"
      >
        <img
          src="/images/curriculum-vitae-adan-rodriguez.avif"
          alt="Currículum vitae de Adan Rodriguez"
          loading="lazy"
        />
        <!-- <p>
          No tienes un plugin de PDF para visualizar el currículum, pero puedes
          <a
            download="Currículum Vitae - Adán Rodríguez"
            href="/docs/curriculum-vitae-adan-rodriguez.pdf"
            title="Descargar currículum (PDF)"
            aria-label="Descargar currículum (PDF)"
            >descargarlo <DownloadIcon />
          </a>
        </p> -->
      </object>
    </dialog>
  </div>
  <MyImage />
</section>

<script>
  const $cvModalOpenBtn =
    document.querySelector<HTMLButtonElement>("#cv-modal-open-btn");
  const $cvModal = document.querySelector<HTMLDialogElement>("#cv-modal");

  function showModal($modal: HTMLDialogElement) {
    $modal.showModal();
  }

  function closeModal($modal: HTMLDialogElement) {
    $modal.close();
  }

  function handleCloseModal(e: MouseEvent) {
    const $clickedElement = e.target;
    if (
      $clickedElement instanceof HTMLDialogElement &&
      $clickedElement.matches("#cv-modal")
    )
      closeModal($clickedElement);
  }

  $cvModalOpenBtn.addEventListener("click", () => showModal($cvModal));
  $cvModal.addEventListener("click", handleCloseModal);
</script>

<script>
  const $copyEmailBtn = document.querySelector(".copy-email-btn");
  const $emailCopiedNotification = document.querySelector(
    ".email-copied-notification"
  );

  function copyEmail() {
    navigator.clipboard
      .writeText("adan.rodriguez.fusta@gmail.com")
      .then(() => {
        console.log("¡Email copiado al portapapeles!");
        $emailCopiedNotification.showPopover();
        setTimeout(() => {
          $emailCopiedNotification.hidePopover();
        }, 3000);
      })
      .catch((err) => {
        console.error("Error al copiar el email: ", err);
      });
  }

  $copyEmailBtn.addEventListener("click", copyEmail);
</script>

<style>
  .email-copied-notification {
    padding: 8px 50px;
    margin: 0;
    inset: unset;
    left: 1rem;
    bottom: -37px;
    opacity: 0;
    background-image: linear-gradient(
      to bottom right,
      black,
      var(--color-primary),
      black
    );
    color: white;
    border-left: 5px solid gold;
    font-size: 14px;
    font-weight: bold;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: var(--shadow-black-lg);
    transition:
      display 0.3s,
      opacity 0.3s,
      bottom 0.3s;
    transition-behavior: allow-discrete;

    &:popover-open {
      opacity: 1;
      bottom: 0.5rem;

      @starting-style {
        opacity: 0;
        bottom: -37px;
      }
    }
  }

  .email-item:has(:popover-open) {
    .copy-email-btn {
      background-image: linear-gradient(
        to bottom right,
        black,
        rgb(0 128 0 / 30%),
        black
      );
      pointer-events: none;
      color: color-mix(in srgb, green, gray 30%);
      scale: 1.05;
    }

    .copy-icon {
    }
  }

  #cv-modal {
    scrollbar-width: thin;
    opacity: 0;
    transition:
      display 0.15s,
      opacity 0.15s,
      overlay 0.15s;
    transition-behavior: allow-discrete;
    color: var(--text-color-primary);
    width: 80%;
    max-width: 768px;

    &[open] {
      opacity: 1;

      @starting-style {
        opacity: 0;
      }
    }

    &::backdrop {
      backdrop-filter: blur(16px);
    }

    object {
      width: 100%;
      min-height: calc(100dvh - 2em - 6px);
      display: grid;
      place-content: center;
      background-image: linear-gradient(
        to bottom right,
        black,
        var(--color-primary),
        black
      );

      img {
        width: 100%;
      }

      /* p {
        margin: 0.5rem;
        padding: 0.5rem;
        background-image: linear-gradient(
          to bottom right,
          black,
          var(--color-primary),
          black
        );
        border-left: 5px solid gold;
        font-size: 14px;
        font-weight: bold;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        box-shadow: var(--shadow-black-lg);

        a {
          color: gold;

          &:is(:hover, :focus-visible) {
            opacity: 0.8;
          }
        }
      } */
    }

    #close-cv {
      position: fixed;
      right: 0;
      top: 19px;
      padding: 0.5rem;
      border-radius: 0.5rem;
      transition: background-color 0.3s;

      &:is(:hover, :focus-visible) {
        background-color: rgb(var(--color-primary-rgb) / 70%);
      }

      @media (width >= 640px) {
        right: 1rem;
      }
    }

    #download-cv {
      position: fixed;
      right: 0;
      top: 59px;
      padding: 0.5rem;
      border-radius: 0.5rem;
      transition: background-color 0.3s;

      &:is(:hover, :focus-visible) {
        background-color: rgb(var(--color-primary-rgb) / 70%);
      }

      @media (width >= 640px) {
        right: 1rem;
      }
    }
  }
</style>
