<div id="me">
  <img
    class="me"
    src="/images/adan-rodriguez.avif"
    alt="Foto de Adán Rodríguez"
  />
  <img class="tech html" src="/images/html.svg" alt="" />
  <img class="tech css" src="/images/css.svg" alt="" />
  <img class="tech javascript" src="/images/javascript.svg" alt="" />
  <img class="tech react" src="/images/react.svg" alt="" />
  <img class="tech nextjs" src="/images/nextjs.svg" alt="" />
  <img class="tech astro" src="/images/astro.svg" alt="" />
</div>

<script>
  const me = document.querySelector("#me") as HTMLElement;
  const width = me.clientWidth;
  const height = me.clientHeight;

  me.addEventListener("mousemove", (e) => {
    const { layerX, layerY } = e as MouseEvent;

    const yRotation = ((layerX - width / 2) / width) * 20;
    const xRotation = ((layerY - height / 2) / height) * 20;

    me.style.transform = `perspective(500px) rotateX(${-xRotation}deg) rotateY(${yRotation}deg)`;
  });

  me.addEventListener("mouseleave", () => {
    me.style.transform = "perspective(500px) rotateX(0) rotateY(0)";
  });
</script>
