<div id="me">
  <img
    class="me"
    src="/images/adan-rodriguez.avif"
    alt="Foto de Adán Rodríguez"
  />
  <svg class="tech html" aria-hidden="true">
    <use href="/images/icons.svg#html"></use>
  </svg>
  <svg class="tech css" aria-hidden="true">
    <use href="/images/icons.svg#css"></use>
  </svg>
  <svg class="tech javascript" aria-hidden="true">
    <use href="/images/icons.svg#javascript"></use>
  </svg>
  <svg class="tech typescript" aria-hidden="true">
    <use href="/images/icons.svg#typescript"></use>
  </svg>
  <svg class="tech react" aria-hidden="true">
    <use href="/images/icons.svg#react"></use>
  </svg>
  <svg class="tech nextjs" aria-hidden="true">
    <use href="/images/icons.svg#nextjs"></use>
  </svg>
  <svg class="tech astro" aria-hidden="true">
    <use href="/images/icons.svg#astro"></use>
  </svg>
</div>

<script>
  const me = document.querySelector("#me") as HTMLElement;
  const width = me.clientWidth;
  const height = me.clientHeight;

  me.addEventListener("mousemove", (e) => {
    const { layerX, layerY } = e as MouseEvent;

    const yRotation = ((layerX - width / 2) / width) * 20;
    const xRotation = ((layerY - height / 2) / height) * 20;

    me.style.transform = `perspective(500px) rotateX(${-xRotation}deg) rotateY(${yRotation}deg)`;
  });

  me.addEventListener("mouseleave", () => {
    me.style.transform = "perspective(500px) rotateX(0) rotateY(0)";
  });
</script>
