---
import Moon from "../icons/Moon.astro";
import Sun from "../icons/Sun.astro";
---

<button id="theme-btn">
  <script is:inline>
    document.currentScript.parentElement.setAttribute(
      "aria-label",
      `Cambiar a modo ${document.documentElement.dataset.theme === "dark" ? "claro" : "oscuro"}`
    );
  </script>
  <Sun />
  <Moon />
</button>

<style>
  #theme-btn {
    z-index: 2;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s;

    &:is(:hover, :focus-visible) {
      background-color: rgb(var(--color-primary-rgb) / 50%);
    }

    @media (scripting: none) {
      display: none;
    }
  }
</style>
