---
import "@fontsource-variable/onest";

import Intro from "../ui/components/Intro.astro";
import Projects from "../ui/components/Projects.astro";
import ContactMe from "../ui/components/ContactMe.astro";
import Footer from "../ui/components/Footer.astro";
import Header from "../ui/components/Header.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <title>Adán Rodríguez - Desarrollador Web</title>
    <meta
      name="description"
      content="Soy un desarrollador web junior especializado en React, Next.js y Astro. En mi portafolio encontrarás más información sobre mi y conocerás todos mis proyectos."
    />
    <script is:inline>
      const storageTheme = localStorage.getItem("theme");

      const theme = storageTheme ?? "dark";

      document.documentElement.setAttribute("data-theme", theme);
    </script>
  </head>
  <body>
    <Header />
    <main>
      <Intro />
      <Projects />
      <ContactMe />
    </main>
    <Footer />
    <div
      aria-hidden="true"
      class="bg-dark fixed top-0 h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))] -z-50"
    >
    </div>
    <div
      aria-hidden="true"
      class="bg-light fixed top-0 z-[-50] h-screen w-screen bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
  </body>
</html>

<script>
  const $root = document.documentElement;
  const $swictherTheme = document.querySelector(
    ".theme-btn"
  ) as HTMLInputElement;

  function toggleTheme() {
    const theme = $root.dataset.theme === "dark" ? "light" : "dark";
    $root.setAttribute("data-theme", theme);

    localStorage.setItem("theme", theme);
  }

  $swictherTheme.addEventListener("click", toggleTheme);

  const colorScheme = window.matchMedia("(prefers-color-scheme: dark)");

  colorScheme.addEventListener("change", (e) => {
    const theme = e.matches ? "dark" : "light";
    $root.setAttribute("data-theme", theme);
    localStorage.setItem("theme", theme);
  });
</script>

<style is:global>
  p {
    text-wrap: pretty;
  }

  :root {
    scroll-behavior: smooth;
    --text-color-primary: rgb(248 250 252);
    --text-color-secondary: rgb(203 213 225);
    --color-primary: rgb(3 93 143);
    --color-secondary: rgb(55 65 81);
    --bg-color: rgb(2 6 23);

    & .bg-light {
      display: none;
    }

    & #sun {
      display: none;
    }
  }

  :root[data-theme="light"] {
    --text-color-primary: rgb(2 6 23);
    --text-color-secondary: rgb(31 41 55);
    --bg-color: rgb(248 250 252);

    & .bg-light {
      display: block;
    }

    & .bg-dark {
      display: none;
    }

    & #sun {
      display: block;
    }

    & #moon {
      display: none;
    }
  }

  html {
    scrollbar-width: thin;
    scrollbar-color: var(--color-secondary) var(--bg-color);
  }

  body {
    padding-top: 56px;
    margin: 0;
    font-family: "Onest Variable", sans-serif;
    min-width: 320px;
    color: var(--text-color-primary);

    &:has(dialog[open]) {
      overflow-y: hidden;
    }
  }

  main {
    max-width: 58rem;
    margin: auto;
    padding: 0 1rem;
  }

  input,
  textarea {
    &:focus {
      outline: none;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    :root {
      scroll-behavior: auto;
    }
  }
</style>
