---
import Footer from "../ui/components/Footer.astro";
import Header from "../ui/components/Header.astro";
import ButtonUp from "../ui/components/ButtonUp.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <slot name="open-graph" />

    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/onest-vf.woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/lobster-400.woff2"
      crossorigin="anonymous"
    />
    <slot name="preloads" />

    <script is:inline>
      const storageTheme = localStorage.getItem("theme");

      const theme = storageTheme
        ? storageTheme
        : window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light";

      document.documentElement.setAttribute("data-theme", theme);
    </script>

    <style is:inline>
      @font-face {
        font-family: "Onest Variable";
        font-style: normal;
        font-display: swap;
        font-weight: 100 900;
        src: url("/fonts/onest-vf.woff2") format("woff2-variations");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
          U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      @font-face {
        font-family: "Lobster";
        font-style: normal;
        font-display: swap;
        font-weight: 400;
        src: url("/fonts/lobster-400.woff2") format("woff2");
        /* unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
          U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; */
        unicode-range: U+0020, U+002F, U+003C, U+003E, U+0041, U+0052, U+0050,
          U+0061, U+0064, U+0065, U+0066, U+0067, U+0069, U+006C, U+006E, U+006F,
          U+0072, U+0074, U+0075, U+007A, U+0073, U+0070;
      }

      :root {
        --text-color-primary: rgb(248 250 252);
        --text-color-secondary: rgb(203 213 225);
        --color-primary: rgb(3 93 143);
        --color-primary-rgb: 3 93 143;
        --color-secondary: rgb(55 65 81);
        --bg-color: rgb(2 6 23);
        --bg-grid-color: rgba(3, 94, 143, 0.3);
        --bg-grid-size: 64px;
        --noise: url(/images/noise-dark.webp);
        --mix-mode-me-img: lighten;
        --mix-mode-intro-links: difference;
        --main-gradient: radial-gradient(transparent, var(--bg-color)),
          repeating-linear-gradient(
            to bottom,
            var(--bg-grid-color) 0 1px,
            transparent 1px var(--bg-grid-size)
          ),
          repeating-linear-gradient(
            to right,
            var(--bg-grid-color) 0 1px,
            transparent 1px var(--bg-grid-size)
          ),
          var(--noise);
        --shadow-black-lg: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
          rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgb(0, 0, 0) 0px 10px 15px -3px,
          rgb(0, 0, 0) 0px 4px 6px -4px;

        scroll-behavior: smooth;
        /* scrollbar-gutter: stable; */
        scrollbar-width: thin;
        scrollbar-color: var(--color-secondary) var(--bg-color);

        #moon {
          display: none;
        }

        &[data-theme="light"] {
          --text-color-primary: rgb(2 6 23);
          --text-color-secondary: rgb(31 41 55);
          --bg-color: rgb(248 250 252);
          --noise: url(/images/noise-ligth.webp);
          --mix-mode-me-img: multiply;
          --mix-mode-intro-links: multiply;

          #moon {
            display: block;
          }

          #sun {
            display: none;
          }
        }
      }

      body {
        font-family: "Onest Variable", sans-serif;
        color: var(--text-color-primary);
        background-color: var(--bg-color);
        background-image: var(--main-gradient);
        background-attachment: fixed;
        background-blend-mode: luminosity;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        min-height: 100dvh;
      }

      main {
        max-width: 58rem;
        margin-inline: auto;
        padding-inline: 1rem;
        flex: 1;
      }

      #menu-btn[aria-expanded="false"] {
        #hamburger-icon {
          display: flex;
        }

        #close-menu-icon {
          display: none;
        }
      }

      #menu-btn[aria-expanded="true"] {
        #hamburger-icon {
          display: none;
        }

        #close-menu-icon {
          display: flex;
        }
      }

      .main-header {
        > div {
          display: flex;
          flex-wrap: wrap;
          max-width: 58rem;
          padding: 10px 0.5rem 10px 1rem;
          margin: 0 auto;

          @media (width >= 768px) {
            padding-right: 0;
          }

          &:has(#menu-btn[aria-expanded="true"]) {
            & #menu {
              display: block;
              opacity: 1;

              @starting-style {
                opacity: 0;
              }
            }
          }

          #logo-link {
            margin-right: auto;
            z-index: 2;
            transition: scale 0.3s;

            &:is(:hover, :focus-visible) {
              scale: 1.025;
            }
          }

          h1 {
            font-size: 1.5rem;
            font-family: "Lobster", cursive;
            user-select: none;
            position: relative;
            line-height: 40px;
          }

          #menu-btn {
            z-index: 2;
            padding: 0.5rem;
            border-radius: 0.5rem;
            transition: background-color 0.3s;

            &:is(:hover, :focus-visible) {
              background-color: rgb(var(--color-primary-rgb) / 50%);
            }

            @media (width >= 768px) {
              display: none;
            }

            @media (scripting: none) {
              display: none;
            }
          }

          #menu {
            display: none;
            opacity: 0;
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            overflow-y: auto;
            scrollbar-width: thin;
            padding-block: 4rem 1rem;
            background-color: var(--bg-color);
            background-image: var(--main-gradient);
            background-attachment: fixed;
            background-blend-mode: luminosity;
            transition:
              display 0.15s,
              opacity 0.15s;
            transition-behavior: allow-discrete;

            @media (width >= 768px) {
              display: block;
              opacity: 1;
              position: static;
              width: auto;
              height: auto;
              padding: 0;
              background: inherit;
              overflow-y: visible;
              transition: none;
              transition-behavior: none;
            }

            @media (scripting: none) {
              display: none;
            }

            ul {
              display: flex;
              flex-direction: column;
              text-align: center;

              @media (width >= 768px) {
                flex-direction: row;
              }

              a {
                display: block;
                outline: none;
                padding: 0.5rem 1rem;
                border-radius: 0.5rem;
                transition: background-color 0.15s;

                &:is(:hover, :focus-visible) {
                  background-color: rgb(var(--color-primary-rgb) / 70%);
                }
              }
            }
          }
        }
      }

      #theme-btn {
        z-index: 2;
        padding: 0.5rem;
        border-radius: 0.5rem;
        transition: background-color 0.15s;

        & .sun {
          animation: rotate-sun 3s linear infinite forwards paused;
        }

        &:is(:hover, :focus-visible) {
          background-color: rgb(var(--color-primary-rgb) / 70%);

          & .sun {
            animation-play-state: running;
          }
        }

        @media (scripting: none) {
          display: none;
        }
      }
    </style>
    <slot name="critical-css" />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <ButtonUp />
  </body>
</html>

<script>
  const $root = document.documentElement;
  const $themeBtn = document.querySelector("#theme-btn");

  function setAttributes(theme) {
    $root.setAttribute("data-theme", theme);
    $themeBtn.setAttribute(
      "aria-label",
      `Cambiar a modo ${theme === "dark" ? "claro" : "oscuro"}`
    );
  }

  function toggleTheme() {
    const newTheme = $root.dataset.theme === "dark" ? "light" : "dark";
    setAttributes(newTheme);
    localStorage.setItem("theme", newTheme);
  }

  function changeColorScheme(e) {
    const newTheme = e.matches ? "dark" : "light";
    setAttributes(newTheme);
  }

  const colorScheme = window.matchMedia("(prefers-color-scheme: dark)");

  colorScheme.addEventListener("change", (e) => {
    if (!document.startViewTransition) return changeColorScheme(e);
    document.startViewTransition(() => changeColorScheme(e));
  });

  $themeBtn.addEventListener("click", () => {
    if (!document.startViewTransition) return toggleTheme();
    document.startViewTransition(() => toggleTheme());
  });
</script>

<style>
  body {
    &:has(#modal-cv[open]) {
      overflow-y: hidden;
    }

    &:has(#menu-btn[aria-expanded="true"]) {
      @media (width < 768px) {
        overflow-y: hidden;
      }
    }
  }
</style>

<style is:global>
  p {
    text-wrap: pretty;
  }

  input,
  textarea {
    &:focus-visible {
      outline: none;
    }
  }
</style>
